In [4]:
import pandas as pd

In [5]:
f1=pd.read_csv('matches.csv')

In [6]:
#1
c=f1[f1['season']==2008].shape[0]
print("Total no. of matches in 2008 are ",c)

Total no. of matches in 2008 are  58

In [7]:
#2
t2=f1.groupby(['city']).count().sort_values(['id'])['id']

print("Minimum matches in ",t2.index[0])
print("Maximum matches in ", t2.index[-1])

#print(f1['city'].value_counts().idxmax())
#print(f1['city'].value_counts().idxmin())

Minimum matches in  Bloemfontein
Maximum matches in  Mumbai

In [46]:
#3
f1.groupby(['city']).count()['id']

city
Abu Dhabi           7
Ahmedabad          12
Bangalore          66
Bengaluru          14
Bloemfontein        2
Cape Town           7
Centurion          12
Chandigarh         46
Chennai            57
Cuttack             7
Delhi              74
Dharamsala          9
Durban             15
East London         3
Hyderabad          64
Indore              9
Jaipur             47
Johannesburg        8
Kanpur              4
Kimberley           3
Kochi               5
Kolkata            77
Mohali             10
Mumbai            101
Nagpur              3
Port Elizabeth      7
Pune               38
Raipur              6
Rajkot             10
Ranchi              7
Sharjah             6
Visakhapatnam      13
Name: id, dtype: int64

In [55]:
#4
t4=f1.groupby(['toss_winner']).count().sort_values('id')['id']
print("Minimum toss winner is ",t4.index[0])
print("Maximum toss winner is ",t4.index[-1])

Minimum toss winner is  Rising Pune Supergiant
Maximum toss winner is  Mumbai Indians

In [ ]:
#5

In [61]:
#6
t6=f1.groupby(['result']).count()['id']
print("Total tie matches = ",t6['tie'])
print("Total normal matches = ",t6['normal'])

Total tie matches =  9
Total normal matches =  743

In [73]:
#7
print(f1[f1['result']=="tie"][['team1','team2']])

                           team1                        team2
33                 Gujarat Lions               Mumbai Indians
125             Rajasthan Royals        Kolkata Knight Riders
189              Kings XI Punjab          Chennai Super Kings
387  Royal Challengers Bangalore          Sunrisers Hyderabad
400             Delhi Daredevils  Royal Challengers Bangalore
475             Rajasthan Royals        Kolkata Knight Riders
535             Rajasthan Royals              Kings XI Punjab
705        Kolkata Knight Riders               Delhi Capitals
746               Mumbai Indians          Sunrisers Hyderabad

In [100]:
#8
f1.sort_values('win_by_runs',ascending=False).iloc[0,10]

'Mumbai Indians'

In [103]:
#9
f1.sort_values('win_by_runs').iloc[0,10]

'Delhi Daredevils'

In [108]:
#10
t10=f1.groupby(['player_of_match']).count()['id']

for i in range(0,len(t10)):
    if (t10[t10.index[i]]>3):
        print(t10.index[i],"\n")

A Mishra

A Nehra

AB de Villiers

AC Gilchrist

AD Russell

AJ Finch

AM Rahane

AR Patel

AT Rayudu

B Kumar

BB McCullum

BJ Hodge

CA Lynn

CH Gayle

DA Warner

DPMD Jayawardene

DR Smith

DW Steyn

F du Plessis

G Gambhir

GJ Maxwell

HH Pandya

Harbhajan Singh

JC Buttler

JD Unadkat

JH Kallis

JJ Bumrah

JP Duminy

JP Faulkner

KA Pollard

KC Sangakkara

KD Karthik

KH Pandya

KL Rahul

M Vijay

MEK Hussey

MK Pandey

ML Hayden

MS Dhoni

N Rana

NM Coulter-Nile

PA Patel

RA Jadeja

RG Sharma

RR Pant

RV Uthappa

Rashid Khan

S Dhawan

SC Ganguly

SE Marsh

SK Raina

SK Warne

SL Malinga

SP Narine

SPD Smith

SR Tendulkar

SR Watson

SS Iyer

SV Samson

Sandeep Sharma

UT Yadav

V Kohli

V Sehwag

YK Pathan

Yuvraj Singh

In [112]:
#11
t11=f1.groupby(['player_of_match']).count().sort_values('id')['id']
print(t11.index[-1])

CH Gayle

In [115]:
#12
f1.sort_values('win_by_runs',ascending=False).iloc[0,-4]

'Feroz Shah Kotla'

In [116]:
#13
f1.sort_values('win_by_runs').iloc[0,-4]

'Rajiv Gandhi International Stadium, Uppal'

In [133]:
#14
t14= pd.concat([f1['umpire1'],f1['umpire2']])
#t14 is a data set like list
t14.value_counts().idxmax()

'S Ravi'

In [135]:
#15
f1['season'].value_counts()

season
2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2018    60
2019    60
2017    59
2015    59
2008    58
2009    57
Name: count, dtype: int64

In [140]:
#16
f2=pd.read_csv('deliveries.csv')

In [180]:
t16=f2.groupby('match_id').sum()['total_runs']

f1['t_runs']=t16.values
f1.groupby('season').sum()['t_runs']

season
2008    17937
2009    16353
2010    18883
2011    21154
2012    22453
2013    22602
2014    18931
2015    18353
2016    18862
2017    18786
2018    20706
2019    20270
Name: t_runs, dtype: int64

In [139]:
#17
f1['toss_winner'].value_counts()

toss_winner
Mumbai Indians                 98
Kolkata Knight Riders          92
Chennai Super Kings            89
Royal Challengers Bangalore    81
Kings XI Punjab                81
Delhi Daredevils               80
Rajasthan Royals               80
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  15
Delhi Capitals                 10
Kochi Tuskers Kerala            8
Rising Pune Supergiants         7
Rising Pune Supergiant          6
Name: count, dtype: int64